body{
    margin: 0;
    overflow: hidden;
    font-family: 'Pixelify Sans', sans-serif;
    background-image: url("model/bg.jpg");
    background-size: cover;

}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#swap{
    position: absolute;
    top: 9%;
    left: 40%;
    padding: 18px 28px;
    font-size: 12px;
    background-color: rgb(178, 115, 4);
    border-radius: 20px;
    z-index: 2;
  

}